body{
    background: #f4f4f4;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.main-navigation__logo{
    text-transform: uppercase;
}

.main-navigation__home-button{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.main-navigation__search{
    position: relative;
}

.main-navigation__search-input{
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #c3c3c3;
}

.main-navigation__search-icon{
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    padding: 1rem;
}

.main-navigation__search-icon,
.main-navigation__logo{
    transition: .3s;
}

@media (any-hover: hover){
    .main-navigation__logo:hover{
        opacity: .6;
    }
    
    .main-navigation__search-icon:hover{
        opacity: .6;
    }
}


.gifs{
    padding: 2rem;
}
/* Masonry grid */

.masonry-grid{
    columns: 4;
    column-width: 250px;
}

.masonry-grid__grid-item{
    margin-bottom: 1rem;
}

.masonry-grid__image{
    width: 100%;
}